
body {
  margin: 2% 2% 2% 2%;
  color:white;
}

.board-cell {
  background-color: darkGray;
  height: 120px;
  border-radius: 100%;
  font-size: 0px;
}

.name {
  text-align: center;
}

  .name h1 {
    font-size: 95px;
    color:#F79256;
  }


.winner-well {
  background-color: #FFBC42;
  color: white;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  visibility: hidden;
}


.btn {
  font-size: 20px;
  margin: .4% auto auto .4%;
}

    #start-button {
      background-color: #F79256 ;
      color: white;
    }

    #reset-button {
      background-color: white;
      border-color:#F79256;
      color: #F79256;
      border-size: 1%;
    }



.player-well {
  font-size: 40px;
  text-align: center;
  vertical-align: center;
  border-radius: 5%;
  background-color: #EDEEC0;
  border-width: medium;
}

    #player1-head {
      color: #black;
      border-color: #DA627D;
    }

    #player2-head {
      color: #black;
      border-color: #51A3A3;
    }



.stats-well {
  background-color: white;
  border: none;
  box-shadow: none;
  font-size: 40px;
  text-align: center;
  vertical-align: center;
  visibility: hidden;
}

    #player1-stats {
      color: #DA627D;
    }

    #player2-stats {
      color: #51A3A3;
    }
