
body {
  margin: 2% 2% 2% 2%;
}

.board-cell {
  background-color: darkGrey;
  height: 100px;
}

.board-cellx {
  background-color: darkGrey;
  height: 100px;
  padding: 5%;
}

.board-row {
  padding-left:0;
  padding-right:0;
  float:none;
  margin:auto;
}

.name {
  text-align: center;
}

.name h1 {
  font-size: 95px;
}

.winner-well, .stats-well {
  font-size: 30px;
  text-align: center;
  vertical-align: center;
}

.player-label {
  font-size: 30px;
  text-align: center;
  vertical-align: center;
}

.winner-well {
  background-color: white;
  color: white;
  border-color: white;
}

.btn {
  color: white;
  font-size: 20px;
  margin: .4% auto auto .4%;
  align: center;
}

#reset-button {
  background-color: darkGrey;
}

#start-button {
  background-color: green;
}

.page-bottom {
  display: flex;
}

